.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 63px;
    height: 42px;
    border: 1px solid #868695;
    border-radius: 9px;
    padding: 3px;
    cursor: pointer;
    .first{
        font-size: 13;
    }
    .secondP{
        font-size: 12px;
       color:  #868695;
    }
    &:hover{
        border: 2px solid #a73afd;
   
    }
}