.home{
    padding: 0 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 100px;
  
}
.size{
    position: absolute;
    z-index: 1000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 12px;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .divfirst{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        p{
            font-size: 13px;
            border-bottom: 1px dotted black;
        }
        svg{
            cursor: pointer;
            position: relative;
            left: 125px;
            top: -30px;
            &:hover{
                fill: #cbbed4;
            }
        }
    }
    .sizes{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}